.callout {
    max-width: 400px;
    margin: 50px;
    padding: 15px;
    background-color: teal;
    border: 1xp solid black;
    color: white;

}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: gray;
    width: 150px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted white;
    text-align: right;
    font-size: x-small;
}